.container-fluid {
margin-bottom: 5px;
margin-left: 10px;
}
.breadcome-list{
    padding: 5px;
}
.breadcome-menu{
    padding-right: 10px;
}
.mg-b-30{
    margin-bottom: 0;
}
.materialdesign .header-top-area, .materialdesign .fixed-header-top{
     height: 60px;
}
.judul-transaksi{
    margin-bottom: 5px;
}
.judul-transaksi .dashtwo-order-list{
    padding: 2px;
}
.content-transaksi{
    background-color: #ebebeb;
}
